* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f9f5ef;
  color: #1c1c1c;
}

:root{
    --fs-55: 50px;
    --fs-30: 30px;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.navbar h1 {
  font-size: 30px;
  letter-spacing: 1px;
  padding: 0%;
  margin: 0%;
  font-weight: 200;
  
}
 

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 650;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ffd700;
}

.dropdown{
  display: none;
  position: absolute;
  background: rgba(0,0,0,0.7);
  color: #fff;
  min-width: 180px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.7);
  z-index: 1;
  border-radius: 5px;
}

.dropdown a{
  padding: 12px 16px;
  display: block;
}
.culture-dropdwn:hover .dropdown{
  display: block;
}


/* Hero Section */
.hero {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1593642532973-d31b6557fa68') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 2;
  animation: fadeIn 2s ease;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.hero-buttons {
  margin-top: 45px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary {
  background-color: #064420;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: #064420;
}

.btn:hover {
  transform: scale(1.05);
}

/* Intro Section */
.intro {
  padding: 60px 10%;
  text-align: center;
}

.intro h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 15px;
}

.intro {
  font-size: 25px;
}

/* Destinations */

.destinations h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 15px;
}
.destinations {
  padding: 60px 10%;
  background-color: #fff;
  text-align: center;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #f4f1ed;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h4 {
  font-size: var(--fs-30);
  margin: 10px;
  color: #064420;
}

.card p {
  margin: 0 10px 10px;
  color: #333;
}

.view-btn {
  background-color: #064420;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background-color: #097b3d;
}

/* Traditions Section */
.traditions {
  padding: 60px 10%;
  background: #f9f5ef;
  text-align: center;
}

.traditions h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 10px;
}

/* Tribal Heritage */

.heritage h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 15px;
}
.heritage {
  padding: 60px 10%;
  background-color: #fff;
  text-align: center;
}

/* festivals */

.festivals h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 15px;
}
.festivals {
  padding: 60px 10%;
  background-color: #fff;
  text-align: center;
}


/* dance and music */

.dance-music h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 15px;
}
.dance-music {
  padding: 60px 10%;
  background-color: #fff;
  text-align: center;
}


/* dress and ornaments */

.dress-ornaments h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 15px;
}
.dress-ornaments {
  padding: 60px 10%;
  background-color: #fff;
  text-align: center;
}


/* art and craft */

.art-craft h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 15px;
}
.art-craft {
  padding: 60px 10%;
  background-color: #fff;
  text-align: center;
}

/* foods */

.foods h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 15px;
}
.foods {
  padding: 60px 10%;
  background-color: #fff;
  text-align: center;
}

/* CONTACT FORM */

.contact-section {
  padding: 60px 10%;
  background: #f9f5ef;
  text-align: center;
}

.contact-section h3 {
  font-size: var(--fs-55);
  color: #0b3d0b;
  margin-bottom: 10px;
}
.contact-form {
  max-width: 600px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #00a000;
}

.contact-form button {
  width: 150px;
  margin: 0 auto;
}


/* Footer */
footer {
  text-align: center;
  background-color: #064420;
  color: white;
  padding: 15px;
}

/* Keyframes */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
